spring:
  application:
    name: skygo
  main:
    banner-mode: console
  jmx:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5434/db_ojek
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: skygo-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  output:
    ansi:
      enabled: ALWAYS
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/master
          jwk-set-uri: http://localhost:8080/realms/master/protocol/openid-connect/certs

server:
  port: 8081
  address: 0.0.0.0

# Traccar API Config
traccar:
  url: http://localhost:8082
  api:
  admin:
    password: admin

# MinIO Config
minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: skygo-bucket



jwt:
  secret: 9a4f2c3d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7a8b9c0d1e2f
  expiration: 86400000 # 24 hours in milliseconds

camunda:
  bpm:
    admin-user:
      id: admin
      password: admin 
    filter:
      create: All tasks
    database:
      schema-update: true

